@tailwind base;

@custom-variant dark (&:is(.dark *));
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 15%; /* #272424 aproximado */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 15%;
    --primary: 212 79% 81%; /* #A8C9F5 */
    --primary-foreground: 0 0% 15%;
    --secondary: 212 50% 95%;
    --secondary-foreground: 212 79% 30%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 20%; /* #343434 aproximado */
    --accent: 212 70% 90%;
    --accent-foreground: 212 79% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 212 79% 81%;
    --chart-1: 212 79% 81%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
